In [34]:
import numpy as np

scores = np.random.randint(50, 101,size=(50, 5))
scores

array([[ 52,  95,  61,  78,  63],
       [ 79,  96,  58,  96,  50],
       [ 81,  63,  91,  74,  90],
       [ 60,  58,  86,  94,  79],
       [ 93,  92,  82,  52,  85],
       [ 80,  94,  55,  98,  81],
       [ 83,  68,  75,  81,  50],
       [ 72,  73,  94,  70,  91],
       [ 51,  93,  81,  70,  73],
       [ 92,  78,  62,  61,  88],
       [ 99,  73,  96,  82,  80],
       [ 77,  94,  90,  78,  65],
       [ 84,  90,  96,  83,  67],
       [ 77,  91,  61,  89,  75],
       [ 96,  90, 100,  78,  75],
       [ 91,  79,  74,  95,  93],
       [ 71,  82,  97,  86,  66],
       [ 53,  70,  64,  98,  88],
       [ 54,  96,  95,  82,  99],
       [ 78,  87,  87,  77,  51],
       [ 81,  67,  61,  69,  69],
       [ 58,  86, 100,  78,  70],
       [ 53,  82,  69,  86,  94],
       [ 61,  80,  52,  81,  90],
       [ 93,  80,  70,  50,  50],
       [ 69,  83,  97,  86,  79],
       [ 52,  86,  98,  90,  88],
       [ 74,  84,  72,  82,  88],
       [ 97,  71,  69,  83,  96],
       [ 68,  70,  92,  88,  56],
       [ 93,  58,  88,  85,  81],
       [ 81,  81,  68,  84,  83],
       [ 82,  83,  88,  66, 100],
       [ 64,  60,  59,  90,  51],
       [ 87,  78,  90,  84,  65],
       [ 79,  92,  86,  94,  50],
       [ 96,  69,  86,  68,  59],
       [ 89,  71,  75,  95,  57],
       [ 73,  84,  77,  80,  80],
       [ 86,  91,  75,  84,  95],
       [ 92,  89,  73,  60,  90],
       [ 76,  69,  84,  98,  73],
       [ 72,  66,  76,  56,  77],
       [ 89,  85,  79,  99,  58],
       [ 64,  95,  78,  67,  64],
       [ 69,  54,  51,  92,  92],
       [ 61,  87,  84,  94,  53],
       [ 81,  91,  85,  63,  61],
       [ 67,  79,  56,  58,  83],
       [ 63,  97,  89,  50,  95]], dtype=int32)

In [35]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

      國文  英文   數學  地理   歷史
學生1   52  95   61  78   63
學生2   79  96   58  96   50
學生3   81  63   91  74   90
學生4   60  58   86  94   79
學生5   93  92   82  52   85
學生6   80  94   55  98   81
學生7   83  68   75  81   50
學生8   72  73   94  70   91
學生9   51  93   81  70   73
學生10  92  78   62  61   88
學生11  99  73   96  82   80
學生12  77  94   90  78   65
學生13  84  90   96  83   67
學生14  77  91   61  89   75
學生15  96  90  100  78   75
學生16  91  79   74  95   93
學生17  71  82   97  86   66
學生18  53  70   64  98   88
學生19  54  96   95  82   99
學生20  78  87   87  77   51
學生21  81  67   61  69   69
學生22  58  86  100  78   70
學生23  53  82   69  86   94
學生24  61  80   52  81   90
學生25  93  80   70  50   50
學生26  69  83   97  86   79
學生27  52  86   98  90   88
學生28  74  84   72  82   88
學生29  97  71   69  83   96
學生30  68  70   92  88   56
學生31  93  58   88  85   81
學生32  81  81   68  84   83
學生33  82  83   88  66  100
學生34  64  60   59  90   51
學生35  87  78   90  84   65
學生36  79  92   86  94   50
學生37  96  69   86  68   59
學生38  89  71   75  95   57
學生39  73  84   77  80   80
學生40  86  91   75  84   95
學生41  92  89   73  60   90
學生42  76  69   84  98   73
學生43  72  66   76  56   77
學生44  89  85   79  99   58
學生45  64  95   78  67   64
學生46  69  54   51  92   92
學生47  61  87   84  94   53
學生48  81  91   85  63   61
學生49  67  79   56  58   83
學生50  63  97   89  50   95

#透過欄的選取

In [36]:

df["國文"]
df["英文"]
df[["國文","英文"]]

      國文  英文
學生1   52  95
學生2   79  96
學生3   81  63
學生4   60  58
學生5   93  92
學生6   80  94
學生7   83  68
學生8   72  73
學生9   51  93
學生10  92  78
學生11  99  73
學生12  77  94
學生13  84  90
學生14  77  91
學生15  96  90
學生16  91  79
學生17  71  82
學生18  53  70
學生19  54  96
學生20  78  87
學生21  81  67
學生22  58  86
學生23  53  82
學生24  61  80
學生25  93  80
學生26  69  83
學生27  52  86
學生28  74  84
學生29  97  71
學生30  68  70
學生31  93  58
學生32  81  81
學生33  82  83
學生34  64  60
學生35  87  78
學生36  79  92
學生37  96  69
學生38  89  71
學生39  73  84
學生40  86  91
學生41  92  89
學生42  76  69
學生43  72  66
學生44  89  85
學生45  64  95
學生46  69  54
學生47  61  87
學生48  81  91
學生49  67  79
學生50  63  97

In [37]:
#透過index的名稱選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文  英文  數學  地理  歷史
學生1  52  95  61  78  63
學生2  79  96  58  96  50

In [38]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,-1]]

      國文  英文  數學  地理  歷史
學生1   52  95  61  78  63
學生50  63  97  89  50  95

In [39]:
df.iloc[:5]
df.iloc[-5:-3]

      國文  英文  數學  地理  歷史
學生46  69  54  51  92  92
學生47  61  87  84  94  53

In [40]:
df

      國文  英文   數學  地理   歷史
學生1   52  95   61  78   63
學生2   79  96   58  96   50
學生3   81  63   91  74   90
學生4   60  58   86  94   79
學生5   93  92   82  52   85
學生6   80  94   55  98   81
學生7   83  68   75  81   50
學生8   72  73   94  70   91
學生9   51  93   81  70   73
學生10  92  78   62  61   88
學生11  99  73   96  82   80
學生12  77  94   90  78   65
學生13  84  90   96  83   67
學生14  77  91   61  89   75
學生15  96  90  100  78   75
學生16  91  79   74  95   93
學生17  71  82   97  86   66
學生18  53  70   64  98   88
學生19  54  96   95  82   99
學生20  78  87   87  77   51
學生21  81  67   61  69   69
學生22  58  86  100  78   70
學生23  53  82   69  86   94
學生24  61  80   52  81   90
學生25  93  80   70  50   50
學生26  69  83   97  86   79
學生27  52  86   98  90   88
學生28  74  84   72  82   88
學生29  97  71   69  83   96
學生30  68  70   92  88   56
學生31  93  58   88  85   81
學生32  81  81   68  84   83
學生33  82  83   88  66  100
學生34  64  60   59  90   51
學生35  87  78   90  84   65
學生36  79  92   86  94   50
學生37  96  69   86  68   59
學生38  89  71   75  95   57
學生39  73  84   77  80   80
學生40  86  91   75  84   95
學生41  92  89   73  60   90
學生42  76  69   84  98   73
學生43  72  66   76  56   77
學生44  89  85   79  99   58
學生45  64  95   78  67   64
學生46  69  54   51  92   92
學生47  61  87   84  94   53
學生48  81  91   85  63   61
學生49  67  79   56  58   83
學生50  63  97   89  50   95

In [41]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [42]:
df["總分"] = total
df["平均"] = mean

In [ ]:
five_df = df.iloc[:5]
five_df[five_df["總分"] >= 380]

     國文  英文  數學  地理  歷史   總分    平均
學生3  81  63  91  74  90  399  79.8
學生5  93  92  82  52  85  404  80.8

In [47]:
df[df['總分'] >= 400]

      國文  英文   數學  地理   歷史   總分    平均
學生5   93  92   82  52   85  404  80.8
學生6   80  94   55  98   81  408  81.6
學生8   72  73   94  70   91  400  80.0
學生11  99  73   96  82   80  430  86.0
學生12  77  94   90  78   65  404  80.8
學生13  84  90   96  83   67  420  84.0
學生15  96  90  100  78   75  439  87.8
學生16  91  79   74  95   93  432  86.4
學生17  71  82   97  86   66  402  80.4
學生19  54  96   95  82   99  426  85.2
學生26  69  83   97  86   79  414  82.8
學生27  52  86   98  90   88  414  82.8
學生28  74  84   72  82   88  400  80.0
學生29  97  71   69  83   96  416  83.2
學生31  93  58   88  85   81  405  81.0
學生33  82  83   88  66  100  419  83.8
學生35  87  78   90  84   65  404  80.8
學生36  79  92   86  94   50  401  80.2
學生40  86  91   75  84   95  431  86.2
學生41  92  89   73  60   90  404  80.8
學生42  76  69   84  98   73  400  80.0
學生44  89  85   79  99   58  410  82.0