In [1]:
import pandas as pd
#將DataFrame當作資料庫來操作
df = pd.read_csv('world.csv')

In [2]:
df.head()
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [3]:
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

df1.shape
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.0+ MB

In [4]:
df1.head()

   洲名   國家          日期  總確診數  新增確診數      總人口數     解封指數
0  亞洲  阿富汗  2020-02-24     5      5  39835428  99999.0
1  亞洲  阿富汗  2020-02-25     5      0  39835428  99999.0
2  亞洲  阿富汗  2020-02-26     5      0  39835428  99999.0
3  亞洲  阿富汗  2020-02-27     5      0  39835428  99999.0
4  亞洲  阿富汗  2020-02-28     5      0  39835428  99999.0

In [5]:
is_taiwan = df1['國家'] == "台灣"
df_taiwan = df1[is_taiwan]
df_taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [6]:
is_japan = df1['國家'] == "日本"
df_japan = df1[is_japan]
df_japan

       洲名  國家          日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本  2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本  2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本  2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本  2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本  2020-01-26        4      2  126050796  99999.0
...    ..  ..         ...      ...    ...        ...      ...
86518  亞洲  日本  2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本  2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本  2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本  2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本  2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]